{% extends "base.j2" %}
{% block title %}Profile | Stepik Delivery{% endblock %}


{% block container %}
<main class="container">
  <section class="row">
    <div class="col-12 col-lg-8">
      <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
      {% for order in orders %}
        {% if order.status.code == 'NEW' %}
            {% set badge = "badge-info" %} {% set badge_text = "Новый" %}
        {% elif order.status.code == 'DELIVERING' %}
            {% set badge = "badge-primary" %} {% set badge_text = "Выполняется" %}
        {% else %}
            {% set badge = "badge-success" %} {% set badge_text = "Готово" %}
        {% endif %}
        <div class="card my-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-7 col-lg-9">
                  <span class="h5 font-weight-bold">{{ order.created_at|datetimeformat }}</span>
                  <span class="h5">- {{ order.amount }} P</span>
                </div>
                <div class="col-3 col-lg-2 ml-5 py-2 badge {{ badge }} text-wrap">{{ badge_text }}</div>
              </div>
            </li>
            <div class="card-body">
              <div class="row">
                {% for meal in order.meals %}
                  <p class="col-4 text-muted">{{ meal.title }}</p>
                  <p class="col-2 text-muted">1</p>
                  <p class="col-6 text-muted">{{ meal.price }}</p>
                {% endfor %}
              </div>
            </div>
          </ul>
        </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}